body {
    font-size: 17px;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
   /*background: #000 url('../images/IFN_1.png');*/
   width: 100%;
   height: 100%;
   background-size: cover;
   background: #c9c9c9;  
   /*background: rgba(200, 54, 54, 0.6); */
}

.home p {
  text-align: justify
}

.jumbotron h1 {
  /*background-image: url("02.jpg");*/
  color: #ffffff;
  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  /*font-weight: bold;*/
}

h1, h2,h3 {
    font-weight: 300;
    justify
}

.section .image {
    max-width: 400px;
    padding: 20px;
}


footer {
    margin-top: 30px;
    border-width: 1px 0 0;
    padding: 20px 0 20px 0;
    color: #777;
}

footer .copyright {
    color: #888;
}

footer .social-media-list {
    list-style: none;
    margin-left: 0;
}

footer .social-media-list li {
    display: inline-block;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

}

.item {
    margin: 30px 0 30px 0;
}
.item + .item {
    border-width: 1px 0 0 0;
    border-color: #ddd;
    border-style: solid;
}

.person .person-role {
    text-align: center;
}
.person .person-program {
    text-align: center;
}
.person .person-email {
    text-align: center;
}


.person-photo {
    margin: 20px auto;
    display: block;
    height: 200px;
    width: 200px;
}

img.pub-image {
    float: right;
    margin: 10px auto;
    height: 100px;
    width: 100px;
}

.pub {
    padding-top: 10px;
}

h2.pub-title {
    margin-top: 0;
}

p.pub-abstract {
    font-style: italic;
}

.pagination {
    text-align: center;
}
