---
layout: default
---

<div class="home">

    <div class="jumbotron">
        <div class="container">
            <h1>
                Mostafavi lab at <br/>
                the University of British Columbia
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="section row">
            <div class="image col-md-4">
                <img alt="" src="http://placehold.it/250x250"/>
            </div>
            <div class="col-md-8">
                <h2 class="heading">Purus faucibus ornare suspendisse sed?</h2>
                <div class="content">
                    Cursus eget nunc scelerisque viverra mauris, in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque! Blandit massa enim nec dui nunc mattis enim ut tellus elementum.
                </div>
            </div>
        </div>
        
        <div class="section row">
            <div class="image col-md-4">
                <img alt="" src="http://placehold.it/250x250"/>
            </div>
            <div class="col-md-8">
                <h2 class="heading">Erat imperdiet sed euismod nisi!</h2>
                <div class="content">
                    Purus viverra accumsan in nisl nisi, scelerisque eu. Diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare aenean euismod elementum nisi, quis eleifend quam adipiscing vitae proin sagittis.
                </div>
            </div>
        </div>
        <div class="section row">
            <div class="col-md-4 image">
                <img alt="" src="http://placehold.it/250x250"/>
            </div>
            <div class="col-md-8">
                <h2 class="heading">Aliquam eleifend mi in nulla.</h2>
                <div class="content">
                    Lacus, luctus accumsan tortor posuere ac ut consequat semper viverra nam libero justo, laoreet sit amet cursus sit amet, dictum. Commodo, ullamcorper a lacus vestibulum sed arcu non odio euismod.
                </div>
            </div>
        </div>
        <div class="section row">
            <div class="image col-md-4">
                <img alt="" src="http://placehold.it/250x250"/>
            </div>
            <div class="col-md-8">
                <h2 class="heading">In ante metus, dictum at!</h2>
                <div class="content">
                    Tempus iaculis urna, id volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean et tortor at! Eu tincidunt tortor aliquam nulla facilisi cras fermentum, odio eu feugiat.
                </div>
            </div>
        </div>

        <div class="news">
            <h2>News</h2>
            
            <div id="news-carousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#news-carousel" data-slide-to="1"></li>
                    <li data-target="#news-arousel" data-slide-to="2"></li>
                </ol>
                
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    {% for post in site.posts limit: 3 %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        <div class="row">
                            <div class="col-md-6">
                                <img alt="" src="{{ post.image }}"/>
                            </div>
                            <div class="col-md-6">
                                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                <h3>
                                    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                                </h3>
                                <div class="content">
                                    <p>
                                        {{post.excerpt}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <!-- Carousel controls -->
                <a class="carousel-control left" href="#news-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#news-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>  
        </div>

        

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" }}">via RSS</a></p>
    </div>

</div>
