---
layout: default
---

<div class="people">
    <div class="container">
        
        <h1 class="people">People</h1>

        {% for person in site.data.people %}

        <div class="person col-md-4 col-sm-6 col-xs-12">
            <img src="{{ person.photo }}"
                 alt="photo" class="person-photo img-circle">

            <h3 class="person-role">{{ person.name }}</h3>
            <p class="person-role">{{ person.role }}
            <br>{{ person.program }}
            <br>{{ person.other }}
            <br>{{ person.email }}</p>


        </div>

        {% endfor %}

    </div>
</div>
<div class="people">
    <div class="container">
        
        <h1 class="people">Alumni</h1>

        {% for person in site.data.alumni %}

        <div class="person col-md-4 col-sm-6 col-xs-12">
            <img src="{{ person.photo }}"
                 alt="photo" class="person-photo img-circle">

            <h3 class="person-role">{{ person.name }}</h3>
            <p class="person-role">{{ person.role }}
            <br>{{ person.lnp }}
            <br>{{ person.other }}
            <br>{{ person.email }}</p>


        </div>

        {% endfor %}

    </div>
</div>
