---
layout: page
---

<div class="publications">
    
    <h1 class="publications">Selected Papers</h1>

    {% for pub in site.data.publications %}

    <div class="pub row">
        <div class="col-sm-2">
            {% if pub.image.url %}
            <a href="{{ pub.image.url }}">
                <img class="pub-image" src="{{ pub.image.src }}"
                     alt="illustration and link to full text" class="pub-image">
            </a>
            {% else %}
            <img class="pub-image" src="{{ pub.image }}"
                 alt="illustration" class="pub-image">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h2 class="pub-title">{{ pub.title }}</h2>
            <p class="pub-author">{{ pub.author }}</p>
            <p class="pub-where">{{ pub.where }}</p>
            {% if pub.abstract %}
            <p class="pub-abstract">{{ pub.abstract }}</p>
            {% endif %}
        </div>
        <div class="col-sm-2">
            <a href="{{ pub.repo.url }}">{{ pub.repo.name }}</a>
        </div>
    </div>

    {% endfor %}

</div>
