<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class=""><a href="/news/"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> news</a></li>
                <li><a href="/projects.html"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> projects</a></li>
                <li><a href="/people.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> people</a></li>
                <li><a href="/publications.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> publications</a></li>
                <li><a href="/joinus.html"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Join us</a></li>
                <!--<li><a href="/contact.html"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> contact us</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
